@use 'index' as *;

.dark-theme
{
    background: $black;

    .title
    {
        color: $white;
    }

    .theme
    {
        background: $black;
        color: $white;
        box-shadow: 0 .1rem 1.5rem rgba($color: #000, $alpha: .6);
    }

    .card 
    {
        background: $black;
        color: $white;
        box-shadow: 0 .2rem 1.5rem rgba($color: #000000, $alpha: .5);
        transition-delay: .2s;

        &__icon
        {
            background: $dark-black;
            transition-delay: .2s;
        }
    }
}
